In [ ]:
import pandas as pd
df = pd.read_csv("housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64

In [ ]:
df.isnull().sum()[df.isnull().sum() > 0]

total_bedrooms    207
dtype: int64

In [ ]:
import pandas as pd
adult = pd.read_csv("adult.csv")
adult.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [ ]:
import numpy as np
adult.replace('?', np.nan, inplace=True)
adult.isna().sum()

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [ ]:
import pandas as pd
# Load datasets
diabetes_df = pd.read_csv("Dataset of Diabetes .csv")
adult_df = pd.read_csv("adult.csv")

# Check missing values
print("Diabetes missing values:\n", diabetes_df.isnull().sum())
print("\nAdult missing values:\n", adult_df.isnull().sum())

Diabetes missing values:
 ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

Adult missing values:
 age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [ ]:
categorical_cols_adult = adult_df.select_dtypes(include='object').columns
print("Categorical columns:", categorical_cols_adult)

Categorical columns: Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country', 'income'],
      dtype='object')

In [ ]:
import numpy as np
import pandas as pd

# Data Cleaning
def clean_data(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].fillna(df[col].mode()[0])
        else:
            df[col] = df[col].fillna(df[col].mean())

    categorical_cols = df.select_dtypes(include='object').columns
    df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)
    numeric_cols = df.select_dtypes(include=[np.number]).columns
    for col in numeric_cols:
        lower = df[col].quantile(0.01)
        upper = df[col].quantile(0.99)
        df[col] = np.clip(df[col], lower, upper)

    return df

diabetes_df_clean = clean_data(diabetes_df)
adult_df_clean = clean_data(adult_df)

In [ ]:
#Data Transformation
from sklearn.preprocessing import MinMaxScaler, StandardScaler

def transform_data(df):
    # Min-Max Scaling
    minmax_scaler = MinMaxScaler()
    df_minmax = pd.DataFrame(minmax_scaler.fit_transform(df), columns=df.columns)

    # Standard Scaling
    standard_scaler = StandardScaler()
    df_standard = pd.DataFrame(standard_scaler.fit_transform(df), columns=df.columns)

    return df_minmax, df_standard

# Apply transformations
diabetes_minmax, diabetes_standard = transform_data(diabetes_df_clean)
adult_minmax, adult_standard = transform_data(adult_df_clean)

In [ ]:
#Check results
print("Diabetes dataset (MinMax):")
print(diabetes_minmax.head())

print("\nAdult Income dataset (StandardScaler):")
print(adult_standard.head())

Diabetes dataset (MinMax):
         ID  No_Pation       AGE      Urea        Cr     HbA1c      Chol  \
0  0.632650   0.020059  0.444444  0.143617  0.072567  0.085967  0.301287
1  0.929836   0.038555  0.000000  0.132979  0.125342  0.085967  0.232813
2  0.528061   0.054213  0.444444  0.143617  0.072567  0.085967  0.301287
3  0.859685   0.099390  0.444444  0.143617  0.072567  0.085967  0.301287
4  0.635201   0.038557  0.066667  0.271277  0.072567  0.085967  0.397151

         TG       HDL       LDL      VLDL       BMI  Gender_M  Gender_f  \
0  0.046875  0.612903  0.134021  0.010402  0.208551       0.0       0.0
1  0.125000  0.193548  0.278351  0.015603  0.156413       1.0       0.0
2  0.046875  0.612903  0.134021  0.010402  0.208551       0.0       0.0
3  0.046875  0.612903  0.134021  0.010402  0.208551       0.0       0.0
4  0.062500  0.096774  0.257732  0.005201  0.052138       1.0       0.0

   CLASS_N   CLASS_P  CLASS_Y  CLASS_Y
0       0.0      0.0      0.0       0.0
1       0.0      0.0      0.0       0.0
2       0.0      0.0      0.0       0.0
3       0.0      0.0      0.0       0.0
4       0.0      0.0      0.0       0.0

Adult Income dataset (StandardScaler):
        age    fnlwgt  educational-num  capital-gain  capital-loss  \
0 -1.002734  0.384755        -1.212683     -0.250115     -0.219116
1 -0.043567 -0.988811        -0.426896     -0.250115     -0.219116
2 -0.781387  1.489208         0.751784     -0.250115     -0.219116
3  0.399126 -0.281824        -0.034003      2.822727     -0.219116
4 -1.519208 -0.851613        -0.034003     -0.250115     -0.219116

   hours-per-week  workclass_Federal-gov  workclass_Local-gov  \
0       -0.031207              -0.173795            -0.261940
1        0.804058              -0.173795            -0.261940
2       -0.031207              -0.173795             3.817672
3       -0.031207              -0.173795            -0.261940
4       -0.866471              -0.173795            -0.261940

   workclass_Never-worked  workclass_Private  ...  native-country_Puerto-Rico  \
0                -0.01431           0.663711  ...                   -0.061494
1                -0.01431           0.663711  ...                   -0.061494
2                -0.01431          -1.506680  ...                   -0.061494
3                -0.01431           0.663711  ...                   -0.061494
4                -0.01431          -1.506680  ...                   -0.061494

   native-country_Scotland  native-country_South  native-country_Taiwan  \
0                 -0.02074             -0.048581              -0.036505
1                 -0.02074             -0.048581              -0.036505
2                 -0.02074             -0.048581              -0.036505
3                 -0.02074             -0.048581              -0.036505
4                 -0.02074             -0.048581              -0.036505

   native-country_Thailand  native-country_Trinadad&Tobago  \
0                -0.024791                       -0.023518
1                -0.024791                       -0.023518
2                -0.024791                       -0.023518
3                -0.024791                       -0.023518
4                -0.024791                       -0.023518

   native-country_United-States  native-country_Vietnam  \
0                      0.338083               -0.041999
1                      0.338083               -0.041999
2                      0.338083               -0.041999
3                      0.338083               -0.041999
4                      0.338083               -0.041999

   native-country_Yugoslavia  income_>50K
0                  -0.021705    -0.560845
1                  -0.021705    -0.560845
2                  -0.021705     1.783024
3                  -0.021705     1.783024
4                  -0.021705    -0.560845

[5 rows x 101 columns]